In [1]:
import pandas as pd
from pathlib import Path

In [2]:
pwd

'/Users/alexiswash/Templates/Homework'

In [3]:
budget_data = Path ('/Users/alexiswash/Templates/Homework/budget_data.csv')

In [4]:
df = pd.read_csv(budget_data)

In [5]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [8]:
#Find the total amount of months
df.columns

Index(['Date', 'Profit/Losses'], dtype='object')

In [14]:
df["Date"].value_counts()

Date
Jan-2010    1
Jul-2014    1
Mar-2015    1
Feb-2015    1
Jan-2015    1
           ..
Apr-2012    1
Mar-2012    1
Feb-2012    1
Jan-2012    1
Feb-2017    1
Name: count, Length: 86, dtype: int64

In [44]:
len(df.index)

86

In [13]:
df["Profit/Losses"].sum()

38382578

In [15]:
#Calculate the Average Changes in Profit/Losses
df["Profit/Losses"].mean()

446309.0465116279

In [16]:
#Calculate the Greatest Increase
df["Profit/Losses"].max()

1170593

In [17]:
#Calculate the Greatest Decrease
df["Profit/Losses"].min()

-1196225

In [48]:
#Attempt to write my answers in a statement box!!

print("Financial Analysis ")
print("_____________________________________")
months = len(df.index)
average = df["Profit/Losses"].mean()
maximum = df["Profit/Losses"].max()
minimum = df["Profit/Losses"].min()
month_count = (f' The total months in the data frame is {months}')
statement_one = (f' The average profit/Loss is {average}') 
statement_two = (f' The maximum profit is {maximum}.')
statement_three = (f' The mimimum profit is {minimum}.')
print(month_count)
print(statement_one)
print(statement_two)
print(statement_three)

Financial Analysis
_____________________________________
 The total months in the data frame is 86
 The average profit/Loss is 446309.0465116279
 The maximum profit is 1170593.
 The mimimum profit is -1196225.